/2.Netbeen/SocketDemo/nbproject/private/
*.class
1.Eclipse/workspace_win/.metadata
1.Eclipse/workspace_linux/.metadata
/2.Netbeen/LIS/dist/
/2.Netbeen/Hibernate/nbproject/private/
/2.Netbeen/Hibernate/build/
/2.Netbeen/Hibernate/dist/