USE [HIS]
GO
/****** Object:  Table [dbo].[HIS_ASSURANCECARD]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_ASSURANCECARD](
	[ASSURANCETYPE] [nvarchar](22) NULL,
	[CREATED] [date] NULL,
	[CREATEDBY] [int] NULL,
	[EXEMPTION] [int] NULL,
	[HIS_ASSURANCECARD_CODE] [nvarchar](20) NULL,
	[HIS_ASSURANCECARD_ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[VALUE] [nvarchar](10) NULL,
	[PATIENTPAID] [int] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_HIS_ASSURANCECARD] PRIMARY KEY CLUSTERED 
(
	[HIS_ASSURANCECARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_BED]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_BED](
	[BEDSIGN] [nvarchar](7) NULL,
	[CAPACITY] [int] NULL,
	[HIS_BED_ID] [int] NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NULL,
	[BEDNO] [nvarchar](7) NULL,
	[HIS_ROOM_ID] [int] NULL,
	[NAME] [nvarchar](60) NULL,
	[HIS_PATIENTHISTORY1_ID] [int] NULL,
	[HIS_PATIENTHISTORY2_ID] [int] NULL,
	[PATIENTQUANTITY] [int] NULL,
	[ISINTENSIVECARE] [nvarchar](1) NULL,
	[ISINPACKAGE] [nvarchar](1) NULL,
 CONSTRAINT [PK_HIS_BED] PRIMARY KEY CLUSTERED 
(
	[HIS_BED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_BUILDING]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_BUILDING](
	[DESCRIPTION] [nvarchar](255) NOT NULL,
	[HIS_BUILDING_ID] [int] NOT NULL,
	[ISACTIVE] [nvarchar](1) NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_HIS_BUILDING] PRIMARY KEY CLUSTERED 
(
	[HIS_BUILDING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_CASHIER]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_CASHIER](
	[HIS_CASHIER_ID] [int] NOT NULL,
	[NAME] [nvarchar](300) NOT NULL,
	[PHONENUMBER] [int] NOT NULL,
	[HIS_BUILDING_ID] [int] NULL,
 CONSTRAINT [PK_Cashier] PRIMARY KEY CLUSTERED 
(
	[HIS_CASHIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_CREDITLINE]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HIS_CREDITLINE](
	[HIS_CREDITLINE_ID] [int] NOT NULL,
	[TOTALCREDITLINE] [money] NOT NULL,
	[INVOICE_NUMBER] [int] NOT NULL,
	[INVOICE_SIGN] [int] NOT NULL,
	[INVOICE_BOOK] [char](10) NOT NULL,
	[HIS_BUILDING_ID] [int] NOT NULL,
 CONSTRAINT [PK_HIS_CREDITLINE] PRIMARY KEY CLUSTERED 
(
	[HIS_CREDITLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIS_DEPARTMENT]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_DEPARTMENT](
	[HIS_DEPARTMENT_ID] [int] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[HIS_BUILDING_ID] [int] NOT NULL,
 CONSTRAINT [PK_HIS_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[HIS_DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_HOSPITAL]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_HOSPITAL](
	[HIS_HOSPITAL_ID] [int] NOT NULL,
	[NAME] [nvarchar](120) NULL,
	[CODE2] [nvarchar](20) NULL,
	[VALUE] [nvarchar](40) NULL,
	[VALUE2] [nvarchar](40) NULL,
	[HIS_PROVINCE_ID] [int] NULL,
 CONSTRAINT [PK_HIS_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HIS_HOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_INVOICE]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_INVOICE](
	[CASHIER_ID] [int] NOT NULL,
	[HIS_INVOICE_ID] [int] NOT NULL,
	[INVOICE_NUMBER] [int] NOT NULL,
	[INVOICE_BOOK] [int] NOT NULL,
	[TOTALAMOUNT] [money] NULL,
	[REMAINING] [money] NOT NULL,
	[HIS_PATIENTHISTORY_ID] [int] NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NOT NULL,
	[HIS_BUILDING_ID] [int] NOT NULL,
 CONSTRAINT [PK_HIS_INVOICE] PRIMARY KEY CLUSTERED 
(
	[HIS_INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_MEDICALTEST]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[HIS_MEDICALTEST](
	[ENGLISHNAME] [nvarchar](255) NOT NULL,
	[HIS_MEDICALTEST_ID] [int] NOT NULL,
	[HIS_ROOM_ID] [int] NOT NULL,
	[NAME] [nvarchar](300) NOT NULL,
	[PRICEASSURANCE] [int] NOT NULL,
	[PRICEDIFF] [int] NOT NULL,
	[PRICESERVICE] [int] NULL,
	[SHORTNAME] [nvarchar](255) NOT NULL,
	[USEINRECEPTION] [char](1) NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIS_MEDICINE]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[HIS_MEDICINE](
	[ENGLISHNAME] [nchar](255) NOT NULL,
	[HIS_MEDICINE_ID] [int] NOT NULL,
	[NAME] [nvarchar](300) NOT NULL,
	[PRICEASSURANCE] [int] NOT NULL,
	[PRICEDIFF] [int] NOT NULL,
	[PRICESERVICE] [int] NOT NULL,
	[SHORTNAME] [nvarchar](255) NOT NULL,
	[USEINRECEPTION] [char](1) NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NOT NULL,
	[HIS_BUILDING_ID] [int] NOT NULL,
 CONSTRAINT [PK_HIS_Medicine] PRIMARY KEY CLUSTERED 
(
	[HIS_MEDICINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIS_PATIENT]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_PATIENT](
	[ADDRESS1] [nvarchar](60) NULL,
	[ADDRESS2] [nvarchar](255) NULL,
	[BIRTHDAY] [date] NULL,
	[GUARDIANID_NO] [nvarchar](12) NULL,
	[GUARDIANNAME] [nvarchar](100) NULL,
	[GUARDIANTELNO] [nvarchar](12) NULL,
	[HIS_COUNTRY_ID] [int] NULL,
	[HIS_DISTRICT_ID] [int] NULL,
	[HIS_JOB_ID] [int] NULL,
	[HIS_PATIENT_ID] [int] NOT NULL,
	[HIS_PROVINCE_ID] [int] NULL,
	[HIS_SERVICE_ID] [int] NULL,
	[HIS_ZONE] [int] NULL,
	[ID_NO] [int] NULL,
	[NAME] [int] NULL,
	[TEL_NO] [int] NULL,
	[HIS_GENDER_ID] [nvarchar](1) NULL,
	[HIS_PATIENTTYPE_ID] [nvarchar](10) NULL,
	[PATIENTFROM_HOSPITAL_ID] [int] NULL,
	[HIS_ZONE_ID] [int] NULL,
 CONSTRAINT [PK_HIS_PATIENT] PRIMARY KEY CLUSTERED 
(
	[HIS_PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_PATIENTHISTORY]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_PATIENTHISTORY](
	[AGE] [int] NULL,
	[HIS_ASSURANCECARD_ID] [int] NULL,
	[ASSURANCE_FROMDATE] [date] NULL,
	[ASSURANCE_ID] [nvarchar](15) NULL,
	[ASSURANCE_REGATHOSPITAL_ID] [int] NULL,
	[ASSURANCE_TODATE] [date] NULL,
	[HIS_BED_ID] [int] NULL,
	[HIS_MEDICALRECORDNO] [nvarchar](60) NULL,
	[HIS_PATIENTHISTORY_ID] [int] NOT NULL,
	[HIS_PATIENTTYPE_ID] [nvarchar](2) NULL,
	[INPATIENTSTATE] [nvarchar](255) NULL,
	[ISEMERGENCY] [nvarchar](1) NULL,
	[ISKEEPINGASSURANCECARD] [nvarchar](1) NULL,
	[REGDATE] [date] NULL,
	[TIMEGOIN] [date] NULL,
	[TIMEGOOUT] [date] NULL,
	[FROM_DEPARTMENT_ID] [int] NULL,
	[DEADNOTE] [nvarchar](2000) NULL,
	[DEADPLACE] [nvarchar](255) NULL,
	[DEADREASON] [nvarchar](255) NULL,
	[DEADTIME] [date] NULL,
	[DEAD_DIAGDISEASE_ID] [int] NULL,
	[TRANSFERTO_HOSPITAL_ID] [int] NULL,
	[ISPAID] [nvarchar](1) NULL,
	[ASSCARDRETURNDATE] [date] NULL,
 CONSTRAINT [PK_HIS_PATIENTHISTORY] PRIMARY KEY CLUSTERED 
(
	[HIS_PATIENTHISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_ROOM]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_ROOM](
	[HIS_ROOM_ID] [int] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NOT NULL,
	[ENGLISHNAME] [nvarchar](255) NULL,
	[ISEMERGENCY] [nvarchar](1) NULL,
	[HIS_BUILDING_ID] [int] NULL,
	[PATIENTQUANTITY] [int] NULL,
 CONSTRAINT [PK_HIS_ROOM] PRIMARY KEY CLUSTERED 
(
	[HIS_ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_SERVICE_MEDICALTEST]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[HIS_SERVICE_MEDICALTEST](
	[AMOUNT] [int] NULL,
	[C_UOM_ID] [int] NULL,
	[CONCLUSION] [nvarchar](1024) NULL,
	[CREATEDFROMRECORD_ID] [int] NULL,
	[CREATEDFROMSERVICETYPE] [nvarchar](22) NULL,
	[FROM_DEPARTMENT_ID] [int] NULL,
	[HIS_INVOICELINE_ID] [int] NULL,
	[HIS_INVOICETYPE] [nvarchar](7) NULL,
	[HIS_NURSE_USER_ID] [int] NULL,
	[HIS_PATIENTHISTORY_ID] [int] NULL,
	[HIS_ROOM_ID] [int] NULL,
	[HIS_SERVICE_ID] [int] NULL,
	[HIS_SERVICE_MEDICALTEST_ID] [int] NOT NULL,
	[HIS_DOCTOR_USER_ID] [int] NULL,
	[HIGHERINDICATOR] [nvarchar](20) NULL,
	[INDICATOR] [int] NOT NULL,
	[ISEMERGENCY] [char](1) NULL,
	[ISINPATIENT] [char](1) NULL,
	[ISREADY] [char](1) NULL,
	[LOWERINDICATOR] [nvarchar](20) NULL,
	[QUANTITY] [int] NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[SUMMARYRESULT] [nvarchar](1024) NULL,
	[TOTALPRICE_ASSURANCE] [int] NULL,
	[TOTALPRICE_SERVICE] [int] NULL,
	[UNIT] [nvarchar](60) NULL,
	[UNITPRICE_ASSURANCE] [int] NULL,
	[UNITPRICE_DIFFERENCE] [int] NULL,
	[UNITPRICE_SERVICE] [int] NULL,
	[ACTDATE] [date] NULL,
	[TODATE] [date] NULL,
 CONSTRAINT [PK_HIS_SERVICE_MEDICALTEST] PRIMARY KEY CLUSTERED 
(
	[HIS_SERVICE_MEDICALTEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIS_SERVICE_MEDICINE]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_SERVICE_MEDICINE](
	[AMOUNT] [int] NULL,
	[AMOUNTA] [int] NULL,
	[AMOUNTS] [int] NULL,
	[C_UOM_ID] [int] NULL,
	[CREATED] [date] NULL,
	[CREATEDBY] [int] NULL,
	[DOCDATE] [date] NULL,
	[FROMDATE] [date] NULL,
	[HIS_DOSAGE_ID] [nvarchar](1) NULL,
	[HIS_INVOICELINE_ID] [int] NULL,
	[HIS_INVOICETYPE] [nvarchar](1) NULL,
	[HIS_PATIENTHISTORY_ID] [int] NULL,
	[HIS_PATIENTTYPE_ID] [nvarchar](1) NULL,
	[HIS_SERVICE_ID] [int] NOT NULL,
	[HIS_SERVICE_MEDICINE_ID] [int] NOT NULL,
	[HIS_STORAGE_DOCUMENTLINE_ID] [int] NOT NULL,
	[HIS_STORAGE_ID] [int] NOT NULL,
	[HIS_USAGE_ID] [nvarchar](1) NULL,
	[ISACTIVE] [nvarchar](1) NULL,
	[ISADDITIONAL] [nvarchar](1) NULL,
	[ISCOMPLETE] [nvarchar](1) NULL,
	[ISINPATIENT] [nvarchar](1) NULL,
	[ISNOTCOUNTED] [nvarchar](1) NULL,
	[ISREADY] [nvarchar](1) NULL,
	[ISSERVICEUSED] [nvarchar](1) NULL,
	[QUANTITY] [int] NULL,
	[ASSURANCE_TODATE] [date] NULL,
	[TOTALPRICE_ASSURANCE] [int] NULL,
	[TOTALPRICE_SERVICE] [int] NULL,
	[UNITPRICE_ASSURANCE] [int] NULL,
	[UNITPRICE_DIFFERENCE] [int] NULL,
	[UNITPRICE_SERVICE] [int] NULL,
	[UPDATED] [date] NULL,
	[UPDATEDBY] [int] NULL,
	[USERGROUP] [int] NULL,
	[HIS_MEDICINE_ID] [int] NOT NULL,
	[BATCHDIST_STORAGE_DOC_ID] [int] NULL,
	[FROM_DEPARTMENT_ID] [int] NULL,
	[CREATEDFROMRECORD_ID] [int] NULL,
	[CREATEDFROMSERVICETYPE] [nvarchar](1) NULL,
	[BTN_CREATEBATCHDIST] [nvarchar](1) NULL,
	[AVAILABLEAMT] [int] NULL,
	[ISVERIFIED] [nvarchar](1) NULL,
	[HIS_SERVICETYPE] [nvarchar](1) NULL,
	[BTN_RETURNTOSTORAGE] [nvarchar](1) NULL,
	[BTN_RETURNPRODUCT] [nvarchar](1) NULL,
	[HIS_RECEIPTLINEA_ID] [int] NULL,
	[HIS_RECEIPTLINES_ID] [int] NULL,
	[RECEIVEDDATE] [date] NULL,
	[DATERECEIVED] [date] NULL,
	[HIS_SERVICEPACKAGE_ID] [int] NULL,
	[HIS_SERVICEPACKAGE_HISTORY_ID] [int] NULL,
	[QUANTITYPERDAY] [int] NULL,
	[RETURNEDQUANTITY] [int] NULL,
	[HIS_SYNC_ID] [nvarchar](1) NULL,
	[ACTDATE] [date] NULL,
	[ISPACKAGESURGERY] [nvarchar](1) NULL,
	[ISINPACKAGE] [nvarchar](1) NULL,
	[HIS_CONSUMPTIONGROUP_ID] [int] NULL,
	[HIS_TIMESURGERY] [nvarchar](1) NULL,
	[ISACCEPTED] [nvarchar](1) NULL,
	[TOTALQUANTITY] [int] NULL,
	[BATCHRETURN_STORAGE_DOC_ID] [int] NULL,
	[RETURNEDDATE] [date] NULL,
	[BATCHRETURN_DOCLINE_ID] [int] NULL,
	[BATCHDIST_DOCLINE_ID] [int] NULL,
	[HIS_DATE_ID] [int] NULL,
	[ALT_UNITPRICE_A] [int] NULL,
	[ALT_UNITPRICE_S] [int] NULL,
	[ALT_UNITPRICE_D] [int] NULL,
	[ALT_UOM_ID] [int] NULL,
	[ALT_QUANTITY] [int] NULL,
	[ALT_QUANTITYRETURNED] [int] NULL,
	[ALT_QUANTITYTOTAL] [int] NULL,
	[ALT_QUANTITYPERDAY] [int] NULL,
	[HIS_SERVICE_MAJORSURGERY_ID] [int] NULL,
	[ISHIGHTECH] [nvarchar](1) NULL,
 CONSTRAINT [PK_HIS_SERVICE_MEDICINE_1] PRIMARY KEY CLUSTERED 
(
	[HIS_SERVICE_MEDICINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_SERVICE_SURGERY]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_SERVICE_SURGERY](
	[AMOUNT] [int] NULL,
	[AMOUNTA] [int] NULL,
	[AMOUNTS] [int] NULL,
	[BTN_GOTRESULT] [nvarchar](1) NULL,
	[BTN_HASRESULT] [nvarchar](1) NULL,
	[BTN_TAKEPATIENT] [nvarchar](1) NULL,
	[C_UOM_ID] [int] NULL,
	[CONCLUSION] [nvarchar](1) NULL,
	[CREATED] [date] NULL,
	[CREATEDBY] [int] NULL,
	[DISEASEDIAGNOSTIC_ID] [int] NULL,
	[DOCDATE] [date] NULL,
	[HIS_DIAGNOSTIC_USER_ID] [int] NULL,
	[HIS_INVOICELINEA_ID] [int] NULL,
	[HIS_INVOICELINES_ID] [int] NULL,
	[HIS_INVOICELINE_ID] [int] NULL,
	[HIS_INVOICETYPE] [nvarchar](1) NULL,
	[HIS_MEDICALTEST_ID] [int] NULL,
	[HIS_NURSE_USER_ID] [int] NULL,
	[HIS_PATIENTHISTORY_ID] [int] NULL,
	[HIS_PATIENTTYPE_ID] [nvarchar](1) NULL,
	[HIS_ROOM_ID] [int] NOT NULL,
	[HIS_SERVICE_SURGERY_ID] [int] NOT NULL,
	[HIS_SERVICE_ID] [int] NULL,
	[HIS_USER1_ID] [int] NULL,
	[HIS_USER2_ID] [int] NULL,
	[ISACTIVE] [nvarchar](1) NULL,
	[ISCOMPLETE] [nvarchar](1) NULL,
	[ISINPATIENT] [nvarchar](1) NULL,
	[ISREADY] [nvarchar](1) NULL,
	[ISSERVICEUSED] [nvarchar](1) NULL,
	[PRIORITYVALUE] [int] NULL,
	[QUANTITY] [int] NULL,
	[RESULTTEXT] [nvarchar](1) NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[TIMEGOTRESULT] [date] NULL,
	[TIMEHASRESULT] [date] NULL,
	[TIMETAKEPATIENT] [date] NULL,
	[TOTALPRICE_ASSURANCE] [int] NULL,
	[TOTALPRICE_SERVICE] [int] NULL,
	[UNITPRICE_ASSURANCE] [int] NULL,
	[UNITPRICE_DIFFERENCE] [int] NULL,
	[UNITPRICE_SERVICE] [int] NULL,
	[UPDATED] [date] NULL,
	[UPDATEDBY] [int] NULL,
	[VALUE] [nvarchar](1) NULL,
	[ACTDATE] [date] NULL,
	[FROM_DEPARTMENT_ID] [int] NULL,
	[CREATEDFROMSERVICETYPE] [nvarchar](1) NULL,
	[CREATEDFROMRECORD_ID] [int] NULL,
	[BTN_REQUESTCANCEL] [nvarchar](1) NULL,
	[PATIENTAGE] [int] NULL,
	[PATIENTBIRTHDAY] [date] NULL,
	[PATIENTCODE] [nvarchar](1) NULL,
	[PATIENTGENDER] [nvarchar](1) NULL,
	[PATIENTJOB] [nvarchar](1) NULL,
	[PATIENTNAME] [nvarchar](1) NULL,
	[PATIENTTYPE] [nvarchar](1) NULL,
	[HIS_CHECKUP_USER_ID] [int] NULL,
	[HIS_RECEIPTLINEA_ID] [int] NULL,
	[HIS_RECEIPTLINES_ID] [int] NULL,
	[HIS_SERVICEPACKAGE_ID] [int] NULL,
	[HIS_SERVICEPACKAGE_HISTORY_ID] [int] NULL,
	[ISPACKAGESURGERY] [nvarchar](1) NULL,
	[ISNOTCOUNTED] [nvarchar](1) NULL,
	[FROMDATE] [date] NULL,
	[TODATE] [date] NULL,
	[HIS_TIMESURGERY] [nvarchar](1) NULL,
	[ISINPACKAGE] [nvarchar](1) NULL,
	[HIS_SERVICE_MAJORSURGERY_ID] [int] NULL,
	[HIS_RESULT_TEMPLATE_ID] [int] NULL,
	[ISEMERGENCY] [nvarchar](1) NULL,
	[NOTE] [nvarchar](1) NULL,
	[HIS_MEDICALRECORDNO] [nvarchar](1) NULL,
	[HIS_SERVICEGROUPLEVEL2_ID] [int] NULL,
	[HIS_SERVICEGROUPLEVEL1_ID] [int] NULL,
	[FILMQUANTITY] [int] NOT NULL,
	[MEDICINEQUANTITY] [int] NOT NULL,
	[ISHIGHTECH] [nvarchar](1) NULL,
 CONSTRAINT [PK_HIS_SERVICE_SURGERY] PRIMARY KEY CLUSTERED 
(
	[HIS_SERVICE_SURGERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIS_Surgery]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[HIS_Surgery](
	[ENGLISHNAME] [nchar](255) NOT NULL,
	[HIS_SURGERY_ID] [int] NOT NULL,
	[NAME] [nvarchar](300) NOT NULL,
	[PRICEASSURANCE] [int] NOT NULL,
	[PRICEDIFF] [int] NOT NULL,
	[PRICESERVICE] [int] NULL,
	[SHORTNAME] [nvarchar](255) NOT NULL,
	[USEINRECEPTION] [char](1) NOT NULL,
	[UNIT] [nvarchar](60) NOT NULL,
	[HIS_DEPARTMENT_ID] [int] NOT NULL,
	[HIS_PATIENTHISTORY_ID] [int] NULL,
 CONSTRAINT [PK_HIS_Surgery] PRIMARY KEY CLUSTERED 
(
	[HIS_SURGERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 4/25/2016 2:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGIN_UNQ] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
